.nut-chinh {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #8B0000;
  border: 2px solid #8B0000;
  transition: all 0.3s;
}

.nut-chinh:hover {
  transform: translateY(-2px);
}
