.nut-phu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--k-3) var(--k-5);
  font-size: var(--c-1);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--mau-trang);
  background-color: transparent;
  border: var(--be-1) solid var(--mau-trang);
  transition: all var(--td-2);
}

.nut-phu:hover {
  background-color: var(--mau-trang);
  color: var(--mau-den);
}
